body { background-color: lightgray; }
#page_error { background-color: #FFFFFF; margin: 24px auto; padding: 12px; }
#page_error #header { padding: 6px; text-align: center; }
#page_error .statusCode { background-color: #C55042; color: #FFFFFF; }
#page_error .statusCodeError { background-color: #F2E81A; color: #FFFFFF; }
#page_error #content { padding: 4px 0 24px 0; }