{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <label class="required" for="user_roles">Rôle</label>
        <select class="custom-select" name="user_roles" id="user_roles" required="required">
            <option value="ROLE_USER">Utilisateur</option>
            <option value="ROLE_ADMIN">Administrateur</option>
        </select>

        <button type="submit" class="btn btn-success float-right mt-3">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('user_list') }}" class="btn btn-primary mt-3">Retour à la liste des utilisateurs</a>
{% endblock %}
